name: Angular 18 CI/CD

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build Angular & Docker
    runs-on: ubuntu-latest

    steps:
      # 1️⃣ Clonar repo
      - uses: actions/checkout@v4

      # 2️⃣ Configurar Node
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20.x
          cache: npm

      # 3️⃣ Instalar dependencias
      - name: Install dependencies
        run: npm ci

      # 4️⃣ Build Angular
      - name: Build Angular
        run: npm run build -- --configuration=production

      # 5️⃣ Preparar carpeta para Docker
      - name: Prepare Docker context
        run: |
          mkdir -p docker/html
          cp -r dist/angular-ia-v3/browser/* docker/html/

      # 6️⃣ Build de la imagen Docke
